.tooltip__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tooltip__cancelBtn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tooltip__confirmBtn {
  background-color: #fff;
  color: #6789ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.tooltip__confirmBtn:hover {
  background-color: #e0e0e0;
}